.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 120px 300px 150px;
    grid-template-areas: "header header header header " " fundo mainfoto mainfoto mainfoto" "fundo maintext maintext maintext" ;
    grid-row-gap:3em;
}
.header{
    grid-area: header;
    background: white;
    border: 1px black solid;
}
.fundo{
    grid-area: fundo;
    background: white;
    
}

.mainfoto{
    grid-area: mainfoto;
    background: white;
    border: 1px black solid;
}
.maintext{
    grid-area: maintext;
    background: white;
    border: 1px black solid;
}
.fotos{
    grid-area: fotos;
    background: white;
    border: 1px black solid;
}
.texts{
    grid-area: texts;
    background: white;
    border: 1px black solid;
}